{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Admin Dashboard</h1>
    <div class="list-group">
        <a href="{{ url_for('admin.manage_users') }}" class="list-group-item list-group-item-action">
            Manage Users
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            System Settings
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Backup & Restore
        </a>
    </div>
</div>
{% endblock %}