<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Harmonica Tabs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">

</head>
<body>
    <header>
        <h1><a href="{{ url_for('main.index') }}">Harmonica Tabs</a></h1>
        <form action="{{ url_for('main.search') }}" method="get">
            <input id="searchbox" autofocus type="search" name="q" placeholder="Search tabs..." value="{{ request.args.get('q', '') }}"><span id="clear" class="clear-btn"">X</span>
            <button type="submit">Search</button>
        </form>

        <div class="user-info">
            {% if current_user.is_authenticated %}
                Hello {{ current_user.username }} ({{ current_user.role }})
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a href="{{ url_for('main.favorites') }}">My Favorites</a>
                <a href="{{ url_for('main.profile') }}">My Profile</a>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <a class="nav-item nav-link" href="{{ url_for('admin.index') }}">Admin</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>              
            {% endif %}
            {% if current_user.is_authenticated and current_user.role in ['admin', 'editor'] %}
                <a href="{{ url_for('main.all_tabs') }}">All Tabs</a>
            {% endif %}            
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>Harmonica Tabs Database &copy; {{ current_year }}</p>
    </footer>
    
<script>
const searchbox = document.getElementById("searchbox");
const clearBtn = document.getElementById("clear");

searchbox.addEventListener("input", function() {
    clearBtn.style.display = searchbox.value ? "block" : "none"; // Show or hide the 'X'
});

clearBtn.addEventListener("click", function() {
    searchbox.value = ""; // Clear the input field
    clearBtn.style.display = "none"; // Hide the 'X'
});
</script>
   
</body>
</html>